button {
    &:hover {
        cursor: pointer;
    }
}

.avatar-box {
    width: 2em;
    height: 2em;
    display: inline-block;
    img.avatar {
        max-height: 100%;
        max-width: 100%;
    }
}

a.new-post {
    display: block;
    float: right;
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
}

.new-post {
    .text {
        width: 100%;
        margin-top: 1em;

        textarea {
            width: 100%;
            height: 10em;
        }
    }
}

img.no-avatar {
    width: 1em;
    height: 1em;
    margin-right: 1em;
}

.menu-item {
    display: inline-block;
    margin-right: 1em;
}

.error {
    margin-top: 1em;
    background-color: red;
    padding: 1em;
    color: white;
}

body {
    margin: 0;
    background-color: rgba(119, 119, 119, 1);
    color: white;
}

.posts {
    padding: 1em;
    // background-color: rgba(119, 119, 119, 1);
    .post-list {
        list-style: none;
        margin-top: 0;
        padding: 0;
    }
}

.post {
    border: 1px solid black;
    margin-bottom: 2em;
    text-align: center;
    width: 100%;

    img {
        width: 100%;
    }
}

.post-text {
    font-family: verdana, sans-serif;
    margin-top: 0.5em;
}

.file-preview {
    text-align: center;
    max-width: 500px;
    margin: 1em auto;
    .image {
        box-shadow: 4px 4px 10px black;
    }
    img {
        max-width: 100%;
        vertical-align: bottom;
    }
    .controls {
        text-align: right;
        background-color: white;
        padding: 1em;
        margin-top: 1em;
        > button:first-child {
            margin-right: 1em;
        }
    }
}

.pubs-route {
    form {
        width: 100%;

        input {
            width: 100%;
        }
    }
}