button {
    &:hover {
        cursor: pointer;
    }
}

.avatar-box {
    width: 2em;
    height: 2em;
    display: inline-block;
    img.avatar {
        max-height: 100%;
        max-width: 100%;
    }
}

a.new-post {
    display: block;
    float: right;
}

img.no-avatar {
    width: 1em;
    height: 1em;
    margin-right: 1em;
}

.menu-item {
    display: inline-block;
    margin-right: 1em;
}
