button {
    &:hover {
        cursor: pointer;
    }
}

.avatar-box {
    width: 2em;
    height: 2em;
    display: inline-block;
    img.avatar {
        max-height: 100%;
        max-width: 100%;
    }
}

a.new-post {
    display: block;
    float: right;
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
}

img.no-avatar {
    width: 1em;
    height: 1em;
    margin-right: 1em;
}

.menu-item {
    display: inline-block;
    margin-right: 1em;
}

.error {
    margin-top: 1em;
    background-color: red;
    padding: 1em;
    color: white;
}

body {
    margin: 0;
}
#content {
    background-color: rgba(119, 119, 119, 1);
}

.posts {
    padding: 1em;
    // background-color: rgba(119, 119, 119, 1);
    .post-list {
        list-style: none;
        margin-top: 0;
    }
}

.post {
    border: 1px solid black;
    margin-bottom: 2em;
}

.post-text {
    color: white;
    font-family: verdana, sans-serif;
    margin-top: 0.5em;
}